{% extends 'base.html' %}

{% block title  %} Pagina principal {% endblock %}

{% block content %}

<div class="container">
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="https://images.pexels.com/photos/5192247/pexels-photo-5192247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="https://images.pexels.com/photos/5195654/pexels-photo-5195654.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> <!-- random image -->
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="https://images.pexels.com/photos/5803142/pexels-photo-5803142.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> <!-- random image -->
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="https://images.pexels.com/photos/163210/motorcycles-race-helmets-pilots-163210.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
      </div>

    <div class="section white">
        <div class="row ">
          <h2 class="header">Motor Test</h2>
          <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>
      </div>
            <div class="   ">
      
              <div class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Molestias aliquid assumenda aliquam doloremque quaerat.
                Ea aliquam, delectus quas cum incidunt nemo, magni, recusandae qui voluptas cupiditate impedit! 
                Mollitia, magnam tenetur.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia quo nam itaque ducimus beatae 
                illum porro veritatis earum quam velit culpa eius error, aperiam vero, fuga magnam molestias sunt
                laudantium!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel temporibus quasi rem, tempora aperiam inventore
                qui iste quis, optio error voluptate laboriosam nisi, repudiandae vitae! Ipsa in ex quod et!
              </div>
              <br>
              <br>
              <br>
      </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="https://images.pexels.com/photos/5803348/pexels-photo-5803348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></div>
  </div>



{% endblock %}