{% extends 'base.html' %}

{% block title %} Inicio de sesion {% endblock %}

{% block content%} <br>

<div class="container">
  <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3 blue-text"><a class="active orange darken-4 white-text" href="#test-swipe-1">Inicio de sesion</a></li>
    
  </ul>
  <div id="test-swipe-1" class="col s12 white row">
    
      <div > <br>

            <div class="col s5">
                <img src="https://images.pexels.com/photos/2116475/pexels-photo-2116475.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width="380" height="300">     
            </div>

            <div class="col s5">
                <h4 class=" orange darken-4 white-text center">Propietario</h4>
            </div>

            <div class="input-field col s2" style="visibility: hidden">
              <input name="0" id="x" type="text" class="validate">
              <label for="x">Cedula</label>
            </div>

            

            <div class="input-field col s5">
              <input onchange="safe_login_user()" placeholder="Numero de Cedula" name="user_id" id="user_login_field" type="text" class="validate">
              <label for="login_user_field">Cedula</label>
            </div>

            <div class="input-field col s2" style="visibility: hidden">
              <input name="0" id="y" type="text" class="validate">
              <label for="y">Id de Usuario</label>
            </div>
  
            <div class="input-field col s5">
              <input onchange="safe_login_user()" placeholder="Contraseña" name="user_password" id="login_password_field" type="password" class="validate">
              <label for="user_password">Contraseña</label>
            </div>

            <div class="input-field col s2" style="visibility: hidden">
              <input name="0" id="email" type="text" class="validate">
              <label for="email">Id de Usuario</label>
            </div>

            
      
            <div class="center">
              <a onclick="validate_user()" class="btn orange darken-3 col s1 container offset-s1" name="person" id="user_login_button">Entrar</a>
              <button onclick="volver_login()" class="btn orange darken-2 col s1 container offset-s1" name="volver" type="submit">Volver</button>
            </div>
              
          </div>
  </div>
  </div>
</div>


{% endblock%}