{% extends 'base.html' %}

{% block title %} Registro {% endblock %}

{% block content%} <br>

<div class="container">
  <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3 blue-text"><a class="active  green accent-2 white-text" href="#test-swipe-1"> Formulario de registro</a></li>
    
  </ul>
  <div id="test-swipe-1" class="col s12 white row">
    
      <div > <br>

            <div class="col s4">
                <img src="https://images.pexels.com/photos/217869/pexels-photo-217869.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width="310" height="380">
            </div>

            <div class="col s8">
                <h4 class=" orange darken-4 white-text center">Registro de Propietario</h4>
            </div>

            <div class="input-field col s4">
              <input onchange="" placeholder="Numero de Cedula" name="nombre" id="cedula" type="text" class="validate">
              <label for="login_user_field">Cedula</label>
            </div>

            <div class="input-field col s4">
                <input onchange="safe_login_user()" placeholder="Nombre" name="user_id" id="nombre" type="text" class="validate">
                <label for="login_user_field">Nombre</label>
              </div>

              <div class="input-field col s4">
                <input onchange="" placeholder="Ssegundo Nombre" name="user_id" id="s_nombre" type="text" class="validate">
                <label for="login_user_field">Segundo Nombre</label>
              </div>
  
              <div class="input-field col s4">
                  <input onchange="" placeholder="Apellido" name="user_id" id="apellido" type="text" class="validate">
                  <label for="login_user_field">Apellido</label>
                </div>

                <div class="input-field col s4">
                    <input onchange="" placeholder="Segundo Apellido" name="user_id" id="s_apellido" type="text" class="validate">
                    <label for="login_user_field">Segundo Apellido</label>
                  </div>
      
                  <div class="input-field col s4">
                      <input onchange="" placeholder="AA-MM-DD" name="user_id" id="f_nacimiento" type="text" class="validate">
                      <label for="login_user_field">Fecha de Nacimiento AA-MM-DD</label>
                    </div>
                      

            <div class="input-field col s2" style="visibility: hidden">
              <input name="0" id="email" type="text" class="validate">
              <label for="email">Id de Usuario</label>
            </div>

            
      
            <div class="center">
              <a onclick="registro()" class="btn green accent-4 col s2 container offset-s1" name="person" id="user_login_button">Registrarse</a>
              
            </div>
              
          </div>
  </div>
  </div>
</div>


{% endblock%}